html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

aside ul li .indicator {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
}

aside ul li .active {
  transform: scale(1.7);
  transition: transform 200ms ease-in-out;
}

aside {
  position: fixed;
  top: 48%;
  transform: translate(-50%, -50%);
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
  }
  .up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    cursor: pointer;
  }

  .down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    cursor: pointer;
  }
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

section:nth-child(odd) {
  background-color: #ffcc33;
}

section:nth-child(even) {
  background-color: #ffb347;
}

section h1 {
  margin: 0;
  font-family: sans-serif;
  font-size: 4rem;
  color: white;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
